.card {
    padding: 30px;
}

.card:hover {
    transform: translateY(-5px);
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s linear;
}

.github :hover {
    color: #ea097d;
}

.folder {
    color: #ea097d;
    font-size: 30px;
}

.card-title {
    margin: 0px 0px 10px;
    font-size: 22px;
    color: rgb(204, 214, 246);
}

.card-text {
    font-size: 17px;
    color: rgb(168, 178, 209);
    padding-top: 10px;
    padding-bottom: 50px;
}

.card-rodape {
    display: flex;
    align-items: flex-end;
    padding: 0px;
}

.lista {
    list-style: none;
    font-size: 12px;
    color: #ea097d;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    line-height: 1.75;
    margin-right: 15px;
}